.conteudo{
    background:#000;
    min-height: 100vh;
    width:100%;
    max-width:800px;
    margin:0 auto;
}

.pessoa .imagem {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
}
.pessoa .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pessoa .nome {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}
.pessoa .descricao {
    font-size: 15px;
    margin-bottom: 15px;
    color: #fff;
}
.pessoa .nascimento {
    font-size: 13px;
    color: #fff;
}

